.Story{
  display:flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px 0px;
}

.Title{
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.25em 0.5em;;
  padding-left: 0;
  color: rgb(202, 50, 23);
}

.StoryDetails{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  font-size: 0.9rem;
  color:rgb(91, 94, 94);
}

.StoryDetails div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0.25em 0.5em;
  padding-left: 0;
}


